@{
    ViewData["Title"] = "Página Inicial";
}

<head>
  <link rel="stylesheet" href="~/assets/css/ContatoStyle.css">
</head>

<div class="text-center hometext">
    <h1 class="display-4 homeh1">Bem - Vindo</h1>
    <p>Sistema de Controle de Contatos</p>
</div>