@model UsuarioModel

    <a class="navbar" asp-area="" asp-controller="Home" asp-action="Index" >Olá @Model.Nome</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://i.imgur.com/fG16GEy.png" alt="home" class="imagemenu"></img>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Contato" asp-action="Index">
                    <img src="https://i.imgur.com/VjZGSe1.png" alt="contatct" class="imagemenu"></img>
                </a>
            </li>
    
            @if (Model.Perfil == cadastro_contatos.Enums.PerfilEnum.Admin)
            {
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Usuario" asp-action="Index">
                    <img src="https://i.imgur.com/X4oNQLz.png" alt="user" class="imagemenu">
                </a>
            </li>
            }
    
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="AlterarSenha" asp-action="Index">
                    <img src="https://i.imgur.com/rKwjfiS.png" alt="password" class="imagemenu">
                </a>
            </li>
    
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Sair">
                    <img src="https://i.imgur.com/R6K3Buk.png" alt="exit" class="imagemenu">
                </a>
            </li>
        </ul>
    </div>
